<div class="row box">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal col-sm-8 box" }) do |f| %>
	<h2 class="title"><%= t("common.register", default: "Sign up") %></h2>
  <%= render "shared/error_messages", :target => resource  %>

	<%= f.input :name, :required => true, autofocus: true %>
	<%= f.input :email, :required => true, :autofocus => true %>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
	<% end %>

	<% if resource.login_type == 'password' %>
	  <%= f.input :password, :autocomplete => "off", :required => true, :hint => t("devise.registrations.password_hint"), :required => false %>
	  <%= f.input :password_confirmation, :required => true %>
	<% end %>
	<%= f.input :avatar %>

	<%= f.button :submit, t("common.register", default: "Sign up"), class: "btn btn-primary btn-sm" %>
<% end %>
<div class="box col-sm-8">
	<%= render "shared/devise_links" %>
</div>
</div>

